#generatorButton{
    background: url('../assets/buttonUp.png') no-repeat bottom left;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    width: 250px;
    height: 200px;
    outline: none;
    border: none;
    margin-top: 275px;
    margin-left: 70vw;
}
#generatorButton:active{
    background: url('../assets/buttonDown.png') no-repeat bottom left;
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    width: 250px;
    height: 200px;
    
}

body{
    background-color: #212121;
    font-family: 'Oswald';font-size: 64px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

#genBox{
    
    color: #000000;
    width: 500px;
    padding: 0;
    margin: 0;
    height: 150px;
    text-align: center;
}

.slash1{
    display: grid;
    background: url('../assets/Background1.png') no-repeat bottom left;
    background-size: 100vw 2900px;
    height: 2671px;
    width: 100vw;
    padding: 50px;
}

.slash{
    background: url('../assets/BackgroundSlash.png') no-repeat bottom left;
    height: 2671px;
    width: 100vw;
}

#headerBox{
    display: inline-flex;
    margin: 0;
    padding: 0;
}

#genText{
    background-color: #FFFFFF;
}

.screenshot{
    width: 60vw;
    height: 80vh;
    background-color: #424242;
}